# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Developments and Resources
forUpload/
tree.txt
uploads

# Nuitka / compiled runtime artifacts
*.build/
*.dist/
*.onefile-build/
*.onefile-dist/
*.bin

.nuitka-build/
shuttlebe
shuttlebe.*
shuttlebe.compiled
shuttlebe.compiled/
.compiled-releases/
*compiled*