# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# OS
.DS_Store

# Dev Artifacts
forUpload/
tree.txt

Static and Resources
uploads/
static/